html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}
body {
    background-color: #e6e6e6;
}
.contain{
    width: 70%;
    margin: auto;
    background-color: #ffffff;
}

.menu {
    display: flex;
    background-color: #899dbd;
    height: 4rem;
    width: 100%;
    justify-content: space-between;
    align-content: center;
}

.menu > a {
    margin: 0 auto;
    width: 19.5%;
    height: 4rem;
    font-size: larger;
    background-color: #a1b9de;
    text-decoration: none;
    color: #3c4553;
    text-align: center;
    line-height: 3rem;
}


.wraper{
    display: flex;
    box-shadow: 3px 3px 4px #bfbfbf;
}

.side-info {
    background-color: #d8c2a6;
    display: flex;
    margin: 0 1rem;
    flex-direction: column;
    align-content: center;
}
.lblCont {
    background-color: #323026;
    width: 90%;
    margin: 3px auto;;
    color: white;
    padding-left: 1rem;
    padding-bottom: 3px;
}

.for-photo {
    background-color: #c4c4c4;
    width: 80%;
    height: 9rem;
    border-radius: 5rem;
    margin: 5px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ld_photo {
    width: 80%;
    border: solid 2px black;
    background-color: inherit;
    margin: 0 auto;
}

.side-info>.p-info {
    margin: 15px auto;
    margin-bottom: 4rem;
}

.side-info>.ul-info {
    margin: 15px auto 4rem 1rem;
    
}

.main-info {
    display: flex;
    flex-direction: column;
    width: 75%;
    float: right;
}

.head {
    margin: 0 1rem;
    height: 15rem;
    background-color: #323026;
    color: white;
    text-transform: capitalize;
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    }
.head>h1, h2{
    margin: 0 auto;
}

.remain-info {
    margin: 0 1rem;
}


.inp-edit {
    width: 90%;
    margin: 2px auto;
    padding: 0 3px;
    background-color: #faf7f3;
}

.inp-edit-name {
    width: 40%;
    height: 4rem;
    margin: 0 auto;
    background-color: #c4c4c4;
    color: black;
    font-size: 3rem;
    text-align: center;
}
.inp-edit-name::placeholder {
    font-size: 3rem;
    color: black;
    text-align: center;
}

.inp-edit-main {
    width: 100%;
    border: solid 1px black;
}

.reg-wind {
    width: 50%;
    height: 30rem;
    margin: 3rem auto;
    background-color: #d8c2a6;
    display: flex;
    justify-items: center;
    align-items: center;
    
}

#log_form {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
    align-items: flex-end;
    justify-content: center;
    position: relative;
}

#log_form input[type="text"] {
    display: inline-block;
    border: solid 2px #899dbd;
    width: 70%;
    height: 3rem;
    margin-left: 2rem;
}
#log_form>label {
    margin: 2rem auto;
    display: inline-block;
font-size: 2rem;
font-weight: 600;
}

#btnSubm {
    width: 11rem;
    height: 3rem;
    font-size: 2.5rem;
    background-color: #a1b9de;
    border: solid 2px #899dbd;
    text-align: center;
    line-height: 3rem;
    position: absolute;
    right: 3rem;
    bottom: 3rem;
}